ul {
    list-style: none;  
    background-color: rgb(236, 208, 236);
}

li { 
    background: rgb(49, 27, 27);
    display: inline-block;
    margin: 10px;

}

.navlink { 
    text-decoration: none;
}